// 水平居中容器
.container-horizontal-center
	height 100%
	display flex
	justify-content center
	
// 垂直居中容器
.container-vertical-center
	height 100%
	display flex
	align-items center
	
	
/**
 *  文字行高规范 Start
 */
.font-line-height-small
	line-height 130%

.font-line-height-normal
	line-height 150%

.font-line-height-large
	line-height 170%
	
.font-line-height-extra-large
	line-height 240%
/**
 *  文字行高规范 End
 */


/**
 *  字体大小等规范 Start
 */
font-color-size(a, b)
	color a
	font-size b

// .font-text-extra-samll
// .font-text-small
// .font-text-normal
// .font-title-medium
// .font-title-large
// .font-title-extra-large
// 	font-family Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif

.font-text-extra-samll
	font-color-size(#909399, 12px)

.font-text-small
	font-color-size(#909399, 13px)
	
.font-text-normal
	font-color-size(#606266,  14px)

.font-title-medium
	font-color-size(#606266, 16px)
	
.font-title-large
	font-color-size(#606266, 18px)

.font-title-extra-large
	font-color-size(#606266, 20px)
/**
 *  字体大小等规范 End
 */
